h4{
    color: #C84127;
}

h4.override{
    color: #3D2B1F;
}

.navbar-brand{
    padding-top: 0px;
}

#page1{
    display:block;
}

#page2{
    display:none;
}

#page3{
    display:none;
}

#footer{
    clear: all;
}

.navbar{
    background-color: #3D2B1F;
    color: #fff;
}

.table{
    border: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #67C5C2;
}
