body{
    background-color: #FEFCE8
}

h1{
    color: #3D2B1F;
}

h3{
    font-size: 20px;
    color: #3D2B1F;
}

h4{
    color: #C84127;
}

h4.override{
    color: #3D2B1F;
}

h6{
    color:#3D2B1F;
    margin-top: 15px;
}

.navbar-brand{
    padding-top: 0px;
}

#page1{
    display:block;
}

#page2{
    display:none;
}

#page3{
    display:none;
}

#footer{
    clear: all;
}

.navbar{
    background-color: #3D2B1F;
    color: #fff;
}

.table{
    border: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #67C5C2;
}

.btn-primary {
    background-color: #67C5C2;
}

.btn-primary:hover {
    background-color: #e6e6e6;
    color: #3D2B1F;
}

.btn-default {
    background-color: #C84127;
    font-family: "Book Antiqua";
    color: #FFFFFF;
}

.btn-default:hover {
    color: #3D2B1F;
}

img.display{
    border: 4px solid #3D2B1F;
}

.img-rounded{
    border: 4px solid #3D2B1F;
}
