.top{
  position: absolute;
  top: 0;
}

.navbar-wrapper{
    display: inline-block;
    width: 100%;
}

.img-responsive{
    display: inline;
    height: auto;
    width: 100%;
}

.background{
    position: relative;
}
#bubble{
    height: auto;
    width: 34%;
    position:absolute;
    z-index:98;
    left:28%;
    bottom:15%; 
}

#speech{
    height: auto;
    width: 34%;
    position:absolute;
    z-index:99;
    left:36%;
    bottom:75%; 
}

#cotton{
    height: auto;
    width: 12%;
    position:absolute;
    z-index:99;
    left:52%;
    bottom:64%;
}

#corn{
    height: auto;
    width: 12%;
    position:absolute;
    z-index:99;
    left:75%;
    bottom:39%;
}

#string{
    height: auto;
    width: 12%;
    position:absolute;
    z-index:99;
    left:52%;
    bottom:43%;
}


#cloth{
    height: auto;
    width: 9%;
    position:absolute;
    z-index:99;
    left:75%;
    bottom:24%; 
}

#droppable { 
    height: 32%;
    width: 32%;
    position:absolute;
    z-index:99;
    left:14%;
    bottom: 15%;
}

#shells{
    height: auto;
    width: 12%;
    position:absolute;
    z-index:99;
    left:75%;
    bottom:64%;
}

#beads{
    height: auto;
    width: 9%;
    position:absolute;
    z-index:99;
    left:53%;
    bottom:23%;
}

#text{
    position:absolute;
    z-index:99;
    left: 30%;
    bottom: 75%
}


#continue{
    position:absolute;
    z-index:99;
    left: 80%;
    bottom: -100px;
}


#previous{
    position:absolute;
    z-index:99;
    left: 70%;
    bottom: -100px;
}

#body{
    height: auto;
    width: 30%;
    position:absolute;
    z-index:98;
    left:14%;
    bottom:-10%;
}


#dress{
    height: auto;
    width: 30%;
    position:absolute;
    z-index:99;
    left:48 %;
    bottom:40%;
}

#hair{
    height: auto;
    width: 14%;
    position:absolute;
    z-index:99;
    left:75%;
    bottom:39%;
}
